#map-container{
    /* margin: 0 0 50% 0; */
    position: relative;
    border: 3px solid blue;
    height: 720px; 
    width: 1280px;
    bottom: 200px;
    left: 75px;
}

#map, #marker-container {
height: 100%; 
width: 100%;
}

#map {
    position: absolute;
    bottom: 0;
    left: 0;
    border: 3px solid red;
}

#marker-container {
    position: absolute;
    bottom: 0;
    left: 0;
    border: 3px solid green;
}